
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali&family=Noto+Naskh+Arabic&display=swap');

body {
    font-family: 'Noto Sans Bengali', sans-serif;
}

[lang="ar"] {
    font-family: 'Noto Naskh Arabic', serif;
    direction: rtl;
    text-align: right;
}
